@font-face {
    font-family: "thewitcher";
    src: url(../fonts/Thewitcher-jnOj.ttf);
}

BorderPane {
    -fx-background-image: url(../images/login-background.jpg);
    -fx-background-size: cover;
}

Label {
    -fx-font-family: "thewitcher";
}

TextField, PasswordField {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

TextField:focused, PasswordField:focused {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

Button {
    -fx-background-color: transparent;
    -fx-font-family: "thewitcher";
    -fx-text-fill: #ffa371;
}

Button:focused {
    -fx-text-fill: #ff803c;
}

.okButton {
    -fx-font-size: 28px;
}

.restorePasswordButton {
    -fx-font-size: 40px;
}

.goBackButton {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-text-fill: #fff892;
}

.goBackButton:focused {
    -fx-text-fill: #fff344
}